body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bebebe;
    font-size: 85px;
}  

#clock {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


